.video__rect {
    max-width: 583px;
    height: 323px;
    margin: 0;
    border-radius: 5px;
    color: white;
    padding-left: 30px;
    opacity: 0.99;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}