.place__website-url {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    border-bottom: 1px solid #FFFFFF;
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
}